/* style for logo*/
.logo{
    position: relative;
    width: 10%;
    height: 10vh;
    margin-left: 5%;
}


/* style for the navigation (menu list) */
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: left;
    justify-content: space-between;
   
}
/* style for the menu of unorder list */
nav ul li{
    float:left;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-size: larger;

}
/* style for the link of menubar*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* style for the mouse hover*/
nav ul li a:hover{
    color:#0097B2;
    text-shadow: 0 0 30px rgba(0, 151, 178, .4);
}
/* style to info*/
.info{
    margin-left: 8%;
    margin-top: 10%;
}

.info h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}

span{
    color:#0097B2;
}

.info p{
    color:black;
    font-size: large;
}

.info a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    background: black;
    display: inline-block;
    margin:30px 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.info .btn{
    color: rgba(255, 255, 255, 1);
    
}
.info  .btn:hover{
    background-color: #0097B2;
    box-shadow: 0 0 30px rgba(0, 151, 178, .4);
}
.images{
    width: 45%;
    height: 48%;
    position: absolute;
    bottom: 0;
    right: 100px;
 
}

.images img{

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
    
}
.images .myself{
    border-radius: 20%;
    top: -55%;
    height: 145%;

}
.images .shape{
    height: 175%;
    margin-top: 350%;
    
}

.images:hover .shape{
    bottom: 30px;
}

.images:hover .myself{
    left: 45%;
}
